
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

/* ---------------------------- Header -----------------------------------*/

header {
    z-index: 1;
    position: absolute;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f77f00;
    width: 100%;
}

/* ---------------------------- Nav Bar -----------------------------------*/

.menu-button{
    visibility: hidden;
}

/* navbar, unordered list */
nav ul {
    visibility: visible;
    padding-top: 10px;
    float: right;
}

/* list */
li {
    list-style-type: none;
    display: inline-block;
}

/* list, a element hypertext  */
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

/* navbar logo */
.nav-logo {
    position: absolute;
    margin: 10px 0 0 15px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-weight: 2;
}

/* When the user hover the list and a element */
li a:hover {
    transition: 0.2s;
    border-radius: 10px;
    transform: scale(1.2);
    z-index: 3;
}

/* ---------------------------- Home -----------------------------------*/

/* Our main content */
#home {
    padding: 200px 0 0 70px;
    color: white;
    text-transform: initial;
    background: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


/* Our main content, heading 1 */
#home h1 {
    position: relative;
    padding-bottom: 5px;
    border-radius: 10px;
    animation: slideIn 0.8s ease;
}

/* Our main content, heading 1, paragraph */
#home h5, p{
    position: relative;
    animation: slideIn 1s ease;
    padding-bottom: 5px;
}


/* Our main content, span HTML text Formatting */
#home span {
    color:#fb8500;
}

/* Our main content, image */
#home img {
    border-radius: 25px;
}

/* ----------------------------------For Mobile Phone----------------------------------------- */
/* The mobile phone have max width 740px to change the value */
@media (max-width: 740px) {
    
    /* ---------------------------- Responsive Navbar --------------------------*/

    header {
        background-color: #f77f00;
        border-radius: 0 0 15px 15px;
    }

    /* open navbar icon  */
    .menu-button {
        margin-top: 3px;
        float: right;
        background: none;
        visibility: visible;
        border: none;
        color: white;
        font-size: 25px;
        cursor: pointer;
        padding: auto 50 50 10;
        margin-right: 12px;
    }

    #nav-ul.show {
        display: block;
        color: white;
        text-align: center;
        padding: 12px 25px;
        text-decoration: none;
        text-transform: uppercase;
    }

    #toggle-menu.active {
        display: block;
    }

    /* navbar, unordered list */
    nav ul {
        background-color: #f77f00;
        float: none;
    }

    /* Unordered list */
    ul {
        display: none;
    }
    
    /* List */
    li { 
        list-style-type: none;
        display: block;
    }

    /* Navbar Logo */
    .nav-logo {
        position: inherit;
    }

    /* HOME class "mHome" in navbar */
    .mHome {
        margin-top: 35px;
    }

    /* Our main content */
    #home {
        padding: 85px 0 0 10px;
        background: url(../img/BackgroundFoodAnimeX.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/* ---------------------------- Animation -----------------------------------*/

/* h1 and p animation */

@keyframes slideIn {
    from {left: 50px;}
    to {left: 0px;}
}