/*---------------------------------- For Mobile Phone ---------------------------------------- */
/* Media query for viewport width 950px or below */
@media (max-width: 950px) {
    
    /*----------------------------- Responsive Navbar -----------------------------------------*/

    header {
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0 0 15px 15px;
    }

    .menu-button {
        margin-top: 3px;
        float: right;
        background: none;
        visibility: visible;
        border: none;
        color: white;
        font-size: 25px;
        cursor: pointer;
        padding: auto 50 50 10;
        margin-right: 12px;
    }

    #nav-ul.show {
        display: block;
        color: white;
        text-align: center;
        padding: 12px 25px;
        text-decoration: none;
        text-transform: uppercase;
    }

    #toggle-menu.active {
        display: block;
    }

    nav ul{
        float: none;
    }

    ul {
        display: none;
    }
    
    li { 
        list-style-type: none;
        display: block;
    }

    /*--------------------------------------- Home ---------------------------------------------*/

    
    #mainHome {
        margin-top: 35px;
    }

    #home {
        padding: 85px 0 0 10px;
        background: url(../img/backgroundImage.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /*--------------------------------------- About ---------------------------------------------*/

    .info {
        flex-direction: column;
        align-items: center;
    }

    .about-info .info div {
        width: 100%;
        text-align: center;
    }

    .info h5 {
        border-top: #ccc solid 1px;
        padding-top: 25px;
    }

    img {
        width: 100%;
        max-width: 320px;
        height: auto;
    }

    #about {
        margin: 10px;
    }

    /* ------------------------------------ Service ------------------------------------------- */

    .service-container {
        margin: 15px;
    }

    .service-card-container {
        padding-bottom: 25px;
        display: grid;
        grid-template-columns: repeat(1 , auto); 
    }

    .service-card {
        border: 1px solid #ccc;
        border-radius: 8px;
        margin: 10px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .service-card {
        border: 1px solid #ccc;
        border-radius: 8px;
        margin: 10px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }
    
    .service-card img {
        max-width: 150px;
        min-height: 200px;
    }

    /* ------------------------------------ Project ------------------------------------------- */

    .project-container {
        margin: 15px;
    }
    
    /* ------------------------------------ Contact ------------------------------------------- */

    #contact {
        margin: 15px;
    }

}

/*------------------------------Desktop mode for Mobile Phone-----------------------------------*/
/* Media query for viewport width 1075px or below */
@media (max-width: 1250px) {
    .aboutUs-sub-card-container {
        grid-template-columns: repeat(3 , auto);    
    }

    #home {
        min-height: 100%;
    }


    #click-btn {
        margin-bottom: 25px;
    }


    #about {
        padding: 5px;
    }
    

    .project-card img {
        max-width: 500px;
        min-height: 250px;
    }
}