* {                         
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ---------------------------- Header -----------------------------------*/

header {
    transition: 0.3s;
    z-index: 100;
    top: 0;
    overflow: hidden;
    width: 100%;
    position: fixed;
    background-color: #f1f1f1;
}

#logo-name {
    position: absolute;
    font-size: 25px;
    font-weight: 800;
}

/* ---------------------------- Nav Bar -----------------------------------*/
.closebtn {
    display: none;
}


.menu-button {
    visibility: hidden;
}

nav ul {
    visibility: visible;
    padding-top: 10px;
    float: right;
}

li {
    list-style-type: none;
    display: inline-block;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

li a span {
    font-size: 35px;
    color: red;
}

li a:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

li a::after {
    content: '';
    display: block;
    height: 0.4em;
    width: 0%;
    bottom: 1px;
    border-bottom: 2px solid transparent;
    transition: all ease-in-out 250ms;
    
}

ul li a:hover::after {
    border-bottom: 2px solid red;
    width: 100%;
}

/* ---------------------------- Home -----------------------------------*/

.container-home {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}   

.home {
    padding: 200px 0 0 0;
    color: black;
    min-height: 100vh;
}

.home h1 {
    display: inline-block;
    padding-bottom: 5px;
    border-radius: 10px;
}

.home h5, p{
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 1rem;
    max-width: 700px;
    letter-spacing: 1px;
}

.home span {
    color: black
}

.home #image-home {
    border: black solid 1px;
    border-radius: 100%;
    animation: flip 2s linear infinite;
}

@keyframes flip {
    0% {
        transform: rotateY(0deg) rotateY(0deg);
    } 50% {
        transform: rotateY(-180deg) rotateY(0deg);
    }
}

.link {
    display: inline-block;
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    cursor: pointer;
}

#click-btn {
    height: 50px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px; 
    cursor: pointer;
    background-color: red;
    color: white;
    font-weight: 600;
}

#click-btn:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

/* ----------------------------------About Us----------------------------------------- */

.about h1 {
    color: black;
    margin-top: 50px;
    letter-spacing: 5px;
    font-size: 3em;
    text-align: center;
    padding-bottom: 100px;
}


.about .info {
    padding: auto;
    display: flex;
    max-width: 1000px;
    margin: auto;
    gap: 25px;
}

.about .about-info {
    display: flex;
    padding-top: 10px;
    max-width: 1000px;
    margin: auto;
    gap: 25px;
}

.info-card-container {
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(3 , auto);
    justify-content: flex-start;
}

.info-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-card img {
    object-fit: contain;
    max-width: 25px;
    max-height: 25px;
    border-radius: 10px;
}

.about img {
    border-radius: 25px;
}

.about p {
    font-size: 1rem;
    font-weight: 600;
}


.aboutUs-main-card-container {
    display: flex;
}

/* Swiper JS  */

swiper-container {
    width: 100%;
}

.main-card {
    background-color: #fff;
    box-shadow: 0 0 85px 0 #e9eefc;
    border-radius: 10px;
    margin: 100px;
    padding: 100px;
    text-align: center;
}

.main-card:hover{
    cursor: pointer;
}

.main-card h6 {
    font-size: 18px;
}

/* ---------------------------------- Testimonial ----------------------------------------- */

.section {
    margin-top: 50px;
    padding: 5rem 0;
}

.section-bg {
    background-color: #f6f8fe;
}

.section__header {
    max-width: 50rem;
    margin: auto;
    text-align: center;
    padding-bottom: 5rem;
}

.section__title {
    font-size: clamp(2.4rem, 5vw, 4.2rem);
    margin: 0.5rem 0 1.5rem;
}

.section__subtitle {
    font-weight: 700;
    font-size: 1.6rem;
}

.testimonial__card {
    background-color: #fff;
    box-shadow: 0 0 85px 0 #e9eefc;
    width: 100%;
    max-width: 40rem;
    justify-self: center;
    border-radius: 1.5rem;
    padding: 5rem 3rem;
    position: relative;
}

.testimonial__card-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.testimonial__img-wrapper {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial__img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.testimonial__name {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

/* Swiper Styles */
.testimonial__wrapper .swiper-wrapper,
.testimonial__wrapper .swiper-pagination-bullets {
    padding-bottom: 5rem;
    justify-content: space-around;
}

.testimonial__wrapper .swiper-pagination-bullet,
.testimonial__wrapper .swiper-pagination-bullet-active {
    background-color: #747474;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    &-active {
        background-color: lightseagreen;
    }
}

/* ---------------------------------- Services ----------------------------------------- */

.service h1 {
    color: black;
    margin-top: 150px;
    letter-spacing: 5px;
    font-size: 3em;
    text-align: center;
}

.service-container {
    margin: 50px;
}

.service-card-container {
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(3 , auto);
    justify-content: center;
}

.service-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.service-card img {
    max-width: 250px;
    min-height: 350px;
    border-radius: 10px;
    object-fit: contain;
}

.service-card:hover {
    animation: 0.8s;
    transform: scale(1.05);
}

/* ---------------------------------- Project----------------------------------------- */

.project h1 {
    color: black;
    margin-top: 40px;
    letter-spacing: 5px;
    font-size: 3em;
    text-align: center;
}

.project-container {
    margin: 50px;
}

.project-card-container {
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(1, auto); 
}

.project-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.project-card h4 {
    padding-bottom: 25px;

}

.project-card p {
    max-width: fit-content;
}

.project-card img {
    object-fit: contain;
    max-width: 1000px;
    min-height: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.project button {
    height: 50px;
    width: 150px;
    border: 1px solid white;
    border-radius: 10px; 
    cursor: pointer;
    color: white;
    background-color: blue
}

/* ---------------------------------- Contact Us ----------------------------------------- */

.contact h1 {
    color: black;
    margin-top: 40px;
    letter-spacing: 5px;
    font-size: 3em;
    text-align: center;
}

body, h1, p, input, textarea, form {
    margin: 0;
    padding: 0;
}

#form {
    max-width: 750px;
    margin: 45px auto;
    padding: 20px   ;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
    color: #555;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

input[type="button"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#contact-form span {
    color: red
}

/* ---------------------------- Footer -----------------------------------*/

footer {
    font-size: 16px;
    padding-top: 50px;
    margin-top: 10px;
    text-align: center;
    left: 0;
    bottom: 0;
    height: 125px;
    background-color: #f1f1f1;
    color: black;
}

footer p {
    text-align: center;
}

/* ---------------------------- Responsive Arrorw-up --------------------------*/

.back-to-Top {
    width: 25px;
    height: 25px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    background-color: #f1f1f1;
    display: none;
    cursor: pointer;
    z-index: 99;
    text-align: center;
    line-height: 45px;
    animation: pulse 2s infinite;
}

.back-to-Top.shown {
    display: block;
    visibility: visible;
    transform: none;
}

.back-to-Top img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	}
}